<%- include("partials/header") -%>

<h1>About</h1>

<div class="box">
    <div class="box" id="heading">
        <h1>A Little Bit About Me...</h1>
        <p><%= aboutContent %></p>
    </div>
</div>

<%- include("partials/footer") -%>